<include file="header" />
<include file="Public/left" />
  <div class="user-right">
        <div class="user-title">
            <div class="right-meun">财务管理</div>
        </div>
        <div class="user-center">
         <form id="form1" name="form1" method="post" action=""> <table width="700" border="0" align="left" cellpadding="0" cellspacing="0">
               <tr>
                 <td width="200" height="42"><strong>人民币：</strong>{$ret['money']} （元）</td>
                 <td width="200"><strong>金币：</strong>{$ret['species']}</td>
                 <td width="150"><strong>积分：</strong>{$ret['integral']}</td>
                 <td align="center"><strong><a href="#" id="pay">充值</a></strong></td>
               </tr>
               <tr>
                 <td colspan="4">&nbsp;</td>
               </tr>
               <tr>
                 <td height="42" colspan="3">               
                     <label for="textfield">人民币兑换金币：</label>
                     <input type="text" name="money" id="money" /> 
                 <a href="javascript:pay(1);"><strong>兑换 </strong></a><strong>1：10</strong></td>
                 <td height="42">&nbsp;</td>
               </tr>
               <tr>
                 <td height="42" colspan="4"><label for="textfield2">金币兑换积分 ： </label>
                   <input type="text" name="species" id="species" />
                 <a href="javascript:pay(2);"><strong>兑换 </strong></a><strong>1：1</strong></td>
               </tr>
               <tr>
                 <td height="42" colspan="4"><label for="textfield3">积分兑换金币 ： </label>
                   <input type="text" name="integral" id="integral" />
                 <a href="javascript:pay(3);"><strong>兑换 </strong></a><strong>1：1</strong></td>
               </tr>
               <tr>
                 <td colspan="4">&nbsp;</td>
               </tr>
          </table></form>
      </div>
  </div>
    <div class="clear"></div>
</div>

<div class="footer">CopyRight @ 2015 Destoy.com Powered by 大富豪娱乐有限公司.</div>
</body>
<script type="text/javascript">
$(function(){
	$("#pay").click(function(){
		alert("暂时无法充值，请联系客服")
	});
})
	function pay(u){
		if(u == 1){
			$value = $("#money").val();
		}else if(u == 2){
			$value = $("#species").val();
		}else if(u == 3){
			$value = $("#integral").val();
		}
		$value = parseInt($value);
		if($value < 1){
			alert("输入有误，请重新输入");
			return false;
		}
		$.post("/Ucenter/User/caiwu",{type:u,value:$value },function(ret){
			alert(ret.info);
			if(ret.status == 1) location.href = location.href;
		},"json");
	}
</script>
</html>
