<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>个人中心</title>
<link href="/static/css/user.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/Static/css/user-center.css" />
<link type="text/css" rel="stylesheet" href="/Static/Semantic/css/semantic.min.css" />
<script src="/Static/JQuery/jquery-1.8.3.min.js"type="text/javascript"></script>
<script src="/Static/Semantic/javascript/semantic.min.js"></script>
<script type="text/javascript">
function logout(){
	$.get("/Ucenter/User/logout",function(ret){
		if(ret.status == 1){
			alert('成功退出！');
			location.href = "/";
		}else{
			alert('系统错误，登出失败');
		}
	},"json");	
}
</script>
<div class="header">
    <div class="haver"><img src="<php>if($row['face'] == ''){echo '/data/face/face.jpg';}else{echo $row['face'];}</php>" class="circular ui image" /></div>
    <div class="title">个人中心</div>
    <div class="out"><a href="javascript:logout();">安全退出</a></div>
    <div class="game"><a href="/">去到游戏大厅</a></div> 
</div>