<include file="header" />
<include file="Public/left" />

  <div class="user-right">
        <div class="user-title">
            <div class="right-meun">个人信息</div>
        </div>
        <div class="user-center">
          <table width="612" border="0" align="left" cellpadding="0" cellspacing="0">
              <tr>
                <td height="36"><b>用户ID:</b>   1000001</td>
                <td><b>用户名：</b>    user</td>
              </tr>
              <tr>
                <td height="36" colspan="2"><strong>邮箱：</strong>user@user.com</td>
              </tr>
              <tr>
                <td height="36"><strong>登陆次数：</strong>1201</td>
                <td height="36"><strong>最近登陆： </strong>112.123.142.255 / 2015.4.23 6:00</td>
              </tr>
              <tr>
                <td height="36" colspan="2"><strong>是否会员：</strong>普通会员 <strong>会员等级：3</strong></td>
              </tr>
              <tr>
                <td height="36" colspan="2">所在用户组：管理员</td>
            </tr>
              <tr>
                <td height="36" colspan="2"><strong>真实姓名：</strong>李宏达</td>
            </tr>
          </table>
      </div>
    </div>
    
    <div class="clear"></div>
</div>

<div class="footer">CopyRight @ 2015 Destoy.com Powered by Destory.</div>
</body>
</html>
