<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Destroy</title>
<link type="text/css" rel="stylesheet" href="/Static/style/defualt/css/index.css" />
<link type="text/css" rel="stylesheet" href="/Static/font-awesome/css/font-awesome.min.css" />
</head>

<body>
<div class="top-back">
     <div class="top">
           <div class="logo"><img src="/logo.png" width="150" height="150" /></div>
           <div class="title"><b>Destroy</b></div>
       <div class="reg"><a href="/Ucenter/Public/login.html">登录 </a> <a href="/Ucenter/Public/reg.html"> 注册</a></div>
     </div>
</div> 
   
<div class="banner">          
          <ul>          
             <li>
                 <img src="/Static/style/defualt/images/index_0.jpg"/>
                 <div class="dec-text">This is a slide.</div>
             </li>
             <li>
                  <img src="/Static/style/defualt/images/index_2.jpg" />
                  <div class="dec-text"> This is another slide.</div>
             </li>
             <li>
                  <img src="/Static/style/defualt/images/index_1.jpg" />
                  <div class="dec-text">This is a final slide.</div>
             </li>
             <li>
                  <img src="/Static/style/defualt/images/index.jpg" />
                  <div class="dec-text">This is a final slide.</div>
             </li>
         </ul> 
         <div class="page">
              <a href="javascript:viod(0)" class="unslider-arrow prev"><i class="fa fa-chevron-circle-left"></i></a>               
              <a href="javascript:viod(0)" class="unslider-arrow next"><i class="fa fa-chevron-circle-right"></i></a>  
         </div>
</div>

<div class="tab">
     <div class="tab-left">
          <div class="icon-left"><i class="fa fa-cog"></i></div>
          <div class="tab-tile">模块化</div>
          <div class="tab-text">
               <p> 1、独立的工作运行模式</p>
               <p>独立的工作运行模式,各个模块可独立工作。</p>
               <p>2、分级启动功能</p>
               <p>每个模块高效运行，节约资源，提高效率。</p>
          </div>
     </div>
     <div class="tab-right">
          <div class="icon-right"><i class="fa fa-heartbeat"></i></div>
          <div class="tab-tile">可拆卸</div>
          <div class="tab-text">
               <p> 1、常用应用集成，可拆卸</p>
               <p>率先引入应用概念，集成当前热门应用，完全根据业务</p>
               <p>自由的选择，系统可大可小，灵活控制，云平台管理，</p>
               <p>高度内容营销</p>
          </div>
     </div>
</div>

</body>
<script type="text/javascript" src="/Static/JQuery/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/Static/bootstrap/js/unslider.min.js"></script>
<script type="text/javascript">
$(function() {
    $('.banner').unslider({
	     speed: 500,               //  The speed to animate each slide (in milliseconds)
	     delay: 3000,              //  The delay between slide animations (in milliseconds)
	     complete: function() {},  //  A function that gets called after every slide animation
	     keys: true,               //  Enable keyboard (left, right) arrow shortcuts
	     dots: true,               //  Display dot navigation
	     fluid: false              //  Support responsive design. May break non-responsive designs
    });
	var unslider = $('.banner').unslider();
	$('.unslider-arrow').click(function() {
        var fn = this.className.split(' ')[1];
        //  Either do unslider.data('unslider').next() or .prev() depending on the className
        unslider.data('unslider')[fn]();
    });
});
</script>
</html>
