@charset "utf-8";
/* CSS Document */
*{margin:0 auto;padding:0}
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0 auto;padding:0}
body{font:12px "宋体","Arial Narrow",HELVETICA;background:#fff;-webkit-text-size-adjust:100%; text-align:center;}
a{color:#172c45;text-decoration:none}
a:hover{color:#cd0200;text-decoration:underline}
em{font-style:normal}
li{list-style:none}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word}

.header{width:960px; height:120px; text-align:left}
.logo{float:left; margin-top:10px}
.logo img{width:390px; height:100px}
.code{float:right; margin-top:10px}
.code img{width:100px; height:100px}
.nav{width:100%; height:42px; background-color:#F63; margin-bottom:20px}
.nav ul{width:960px; height:100%;}
.nav li{height:100%; height:42px; line-height:42px; float:left; margin-left:10px; color:#FFF; font-size:15px; font-weight:bolder; margin-right:20px}
.nav a{color:#FFF}

.wrap{width:960px; height:auto; text-align:left}

.left{width:242px; height:590px; float: right}

.cn{width:100%; height:290px;}
.cn-title{width:100%; height:36px; line-height:36px; font-size:15px; font-weight:bolder; color:#F60; border-bottom: #999 2px solid}
.cn ul{width:auto; height:250px;}
.cn li{width:100%; height:32px; line-height:32px;overflow:hidden;text-overflow:ellipsis;}

.gg{width:100%; height:60px; margin-top:10px; margin-bottom:10px; clear:both}
.gg img{width:100%; height:100%}
.tb{width:242px; height:242px;clear:both}
.clear{width:980px; height:10px; clear:both}
.tb img{width:100%; height:100%}

.page{width:700px; height:30px;clear:both; line-height:30px}

.page a{ width:32px; padding:5px 12px 5px 12px; margin:0px 1px 0px 10px; background-color: #B6B7BA;-moz-border-radius: 5px;      /* Gecko browsers */
    -webkit-border-radius: 5px;   /* Webkit browsers */
    border-radius:5px;            /* W3C syntax */
}
.page span{width:32px;padding:5px 12px 5px 12px; margin:0px 1px 0px 10px; background-color:#999;-moz-border-radius: 5px;      /* Gecko browsers */
    -webkit-border-radius: 5px;   /* Webkit browsers */
    border-radius:5px;    }

.current{ width:30px !important; height:30px !important; padding:8px 10px 8px 10px; color:#FFF; background-color:#096}

.footer{width:100%; height:100px; background-color:#666; margin-top:16px}
.footer ul{width:960px; clear:both; height:auto; }
.footer li{float:left; margin-right:16px; height:46px; line-height:60px; color:#CCC}

.bds_more{width:40px !important; height:40px !important;}

.color-red{color:#F33 !important}

.outline,.heart{cursor:pointer}