@charset "utf-8";
/* CSS Document */

.edit-box{width:660px; height:720px; float:left}
.edit-box textarea{width:660px; height:720px; float:left; margin-bottom:20px}

.file-mneu{width:310px; height:auto; border:#CCC 1px solid; float:left; margin-right:0px; margin-bottom:20px; margin-left:20px}
.file-mneu ul{margin:0 auto; padding:0px; list-style:none}
.file-mneu li{width:100%; height:36px; line-height:36px; text-indent:10px}

.indent2{margin-left:20px; width:300px !important}
.indent3{margin-left:40px; width:288px !important}