@charset "utf-8";
/* CSS Document */

#tips{width:100%; height:80px; line-height:80px; background-color:#FFF; color:#069; text-indent:10px}
#app{margin-top:300px; width:100%; clear:both; height:auto; padding:0px; text-indent:10px; background-color:#FFF}
#title{ width:100%; height:30px; margin-bottom:20px; line-height:30px; clear:both; border-bottom:#CCC 1px dashed;}
.app-box{width:100%; height:150px; padding:0px; text-indent:10px; text-align: left; list-style-type:none;}
.app-box li{width:600px; height:26px; line-height:36px;margin-left:12px; font-size:13px; text-align:center;text-align: left;}