@charset "utf-8";
/* CSS Document */

.ul{width:100%; height:auto; clear:both; margin-bottom:6px;background-color: #E2EDF3;}
.ul-line{width:100%; height:36px; line-height:36px; border-bottom:1px dashed #666}
.ul-content{width:100%; height:auto; margin-top:20px; margin-bottom:20px; margin-left:12px; padding-bottom:20px}
.ul-action{float:right; margin-right:20px}
.ul-box{float:left; margin-left:12px; text-align:left}
.ul-box div{float:left}
.ul-title{font-weight:bolder}