@charset "utf-8";
/* CSS Document */

.tab-box{width:100%; height:170px; border:#CCC 1px solid}
.tab-menu{width:100%; height:36px; list-style-type:none; border-bottom:#069 1px solid; margin:0px; padding:0px; }
.tab-menu li{float:left; line-height:36px; padding-left:12px; padding-right:12px; cursor:pointer; font-size:14px}
.tab-from{width:100%; height:auto; margin:12px}
.tab-list{display:none}
#this{border-top:#069 2px solid; height:36px; line-height:36px;border-left:#069 1px solid;border-right:#069 1px solid; background-color:#FFF}

.from{width:100%; height:auto; margin-left:8px; margin-bottom:12px}
.title{width:auto; height:36px; line-height:36px; float:left; margin-right:16px; font-weight:bolder; color:#033; margin-bottom:12px}
.info{width:auto; height:36px; line-height:36px; float:left; color:#999}
.input{width:100%; height:auto; clear:both}
.input input{border: #DBDBDB 1px solid; height:28px; line-height:28px; text-indent:6px; color: #033}
.input input:focus{
    background-color: #1ab394;
	border-radius: 8px;
     outline:none;
     border:#87C6F9 1px solid;
     box-shadow: 0 0 8px rgba(103, 166, 217, 1);

   }